extends layout

block content
      .jumbotron.big-banner(style="height: 100vh; width: auto;")
        h1.display-4.mt-2 WELCOME TO JECADO HOSTEL
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br 