extends layout

block content
    h1 Hello World!!  
    br
    br
    for post in posts
      #item
        p= post.post
        p= post.title

    br
    br
    br
    br
    br
    br
    br
    br